* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}